*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION  */
/* La navbar  */
nav{
    width: 100%;
    height:55px;
    background: #000000;
    display: flex;
    position: fixed;
}
.logo{
    height: 50px;
    margin:auto auto auto 50px ;
}
.list-nav{
    list-style-type:none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.list-nav  a{
    text-decoration: none;
    color: white;
}
.item{
    height:100%;
    text-align: center;
    line-height: 50px;
    padding: 3px 10px 0px 10px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.item::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background:#ffc300;
    margin: -15px auto 0 auto;
    transition: width 0.2s ease-in-out;
}
.item:hover::after{
    width:100%;
}
/* Le bouton responsive  */
.btn-responsive-menu{
    position: fixed;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
}
.ligne{
    width:100%;
    height:3px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.ligne:nth-child(1){
    top:0px;
}
.ligne:nth-child(2){
    top:10px;
}
.ligne:nth-child(3){
    top:20px;
}
/* Animation sur le bouton burger  */
/* Lorsque l'élément ".btn-responsive-menu" possède la class ".active" alors sur son enfant ".ligne:nth-child(1)" on applique la rotation pour former la première partie de la croix  */
.btn-responsive-menu.active .ligne:nth-child(1){
top:12px;
transform: rotate(135deg);
}
/* On fait disparaître la seconde ligne en le faisant glissé et disparaitre sur la gauche */
.btn-responsive-menu.active .ligne:nth-child(2){
    opacity:0;
    transform: translateX(-20px);
    }
/* On fait rejoindre la troisième ligne sur la première et on fait une rotation inverse pour former la croix finale en complétant la première partie  */
    .btn-responsive-menu.active .ligne:nth-child(3){
        top:12px;
        transform: rotate(-135deg);
        }

        footer{
            margin: auto;
            width: 100%;
            height:55px;
            background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 80%, #008F95 calc(80% + 1px), #008F95 85%, #14FFEC calc(85% + 1px), #14FFEC 100%);
            padding: 15px 23px;
            text-align: center;
            color: white;
        }
    
    footer span a{
        color: rgb(179, 147, 6);
        text-decoration: none;
    }
    footer span a:hover{
        text-decoration: underline;
    }

     /* Mode 700px de la NAVIGATION responsive, a partir de 700px notre css change */   
@media screen and (max-width:700px) {
    nav{
        padding-top: 1px;
        display: grid;
    }
    .logo{
        margin: 0.2vh auto ;
    }
    .btn-responsive-menu{
        display: block;
        color: white;
    }
    .item::after{
        display: none;
    }
    .list-nav{
        top: -250px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .list-nav .item{
width:100%;
height:50px;
background: #000000;
color: #333;
margin-top: -1px;
    }
    .list-nav.active-menu{
        top:0px;
    }
}


.testindex{
  height:1000px;
  width:100vw;
background: #bb1b1b;
}

